.first-border{
    color: honeydew;
    text-align: center;
    word-spacing: 50px;
    background-color:lightcoral;
    height: 70px;
    margin-top: 0%;

} 


body{
    font-family: 'Anton', sans-serif;
    margin: 0%;
}
.specific-area{
    color: lightcoral;
}
.flexible-container{
    display: flex;
    margin-bottom: 80px;
}
.half-width img{
    width: 80%;
    padding: 10%;
}
.half-width{
    width: 100%;
    padding: 5%;
    
}
.link-button{
    text-decoration: none;
    color:black;
    padding: 10px ;
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
    border-radius: 10px; 
}
.second-section{

    background-image: url(7.png);
    background-repeat: no-repeat;
   
}
.center{
    text-align: center;
}
.border-area{
    width:20%;
    margin-left: 2%;
    margin-left: 2%;
    padding: 5%;
    box-shadow: 5px 5px 5px rgb(136, 128, 123);
}





